<?xml version="1.0" encoding="utf-8" ?>
<phpunit 
    bootstrap="./src/vendor/autoload.php"
    >

    <testsuites>
        <testsuite name="Unit tests">
            <directory>./tests/unit</directory>
        </testsuite>
        <testsuite name="Acceptance tests">
            <directory>./tests/acceptance</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/vendor</directory>
                <directory suffix=".php">./src/api</directory>
                <directory suffix=".php">./src/clients</directory>
                <directory suffix=".php">./src/sns</directory>
                <directory suffix=".php">./src/sms</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
